html{
  background-color: black;
  color: white;
}

a{
  color: teal;
}
.visualization{
  display: grid;
  justify-content: end;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  min-width: 450px;
  max-width: 1382px;
  grid-gap: 5px;
}

.examples{
  margin-left: 40px;
}

.examples > p{
  background-color: darkgrey;
}

.bg{
  width: auto;
  font-style: italic;
}

.Label{
    grid-column: 1;
    font-weight: bold;
}

.path0{
  grid-row: 2;
}

.path1{
  grid-row: 3;
}

.path2{
  grid-row: 4;
}

table{
	width: 100%;
	min-width: 836px;
	display: block;
}

tr:nth-of-type(odd){
	background: darkgrey;
}

td:nth-of-type(1){
	text-align: center;
}

td:nth-of-type(2){
	font-weight: bold;
}

td:nth-of-type(1), td:nth-of-type(3){
	color:teal;
	white-space: nowrap;
}

td:nth-of-type(3){
	font-style: italic;
}

td:nth-of-type(4){
  width: 78%;
}

.tabletitle{
  padding-top: 1em;
	display: block;
	font-weight: bold;
	min-width: 836px;
	text-align: center;
}
