html{
  background-color: black;
  color: #F0F8FF;
}

a{
  color: teal;
}

img{
  padding-left: 2em;
  width: 90%;
}

.visualization{
  display: grid;
  justify-content: end;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  min-width: 450px;
  max-width: 1382px;
  grid-gap: 5px;
}

.examples{
  margin-left: 40px;
}

.examples > p{
  background-color: Indigo;
}

.bg{
  width: auto;
  font-style: italic;
}

.Label{
    grid-column: 1;
    font-weight: bold;
}

.path0{
  grid-row: 2;
}

.path1{
  grid-row: 3;
}

.path2{
  grid-row: 4;
}

table{
	width: 100%;
	display: block;
  min-width: 500px;
}

tr:nth-of-type(odd){
	background: Indigo;
}

td:nth-of-type(1){
	text-align: center;
}

td:nth-of-type(2){
	font-weight: bold;
}

td:nth-of-type(1), td:nth-of-type(3){
	color:teal;
	white-space: nowrap;
}

td:nth-of-type(3){
	font-style: italic;
}

td:nth-of-type(4){
  width: 78%;
}

.tabletitle{
  padding-top: 1em;
	display: block;
	font-weight: bold;
	text-align: center;
}

@media (max-width:900px){
  img{
    padding-left: 0em;
    width: 100%;
  }
}

@media (max-width: 870px){
  td:nth-of-type(1), td:nth-of-type(3), th:nth-of-type(1), th:nth-of-type(3){
      display: none;
  }
  .examples{
    margin-left: 0px;
  }
}
